<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.8.24/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
<link rel="stylesheet" href="/static/css/style.css">

</head>
<body>

<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="/static/js/map.js"></script> 

<div class="ui-search-container">
  <input class="searchWords">
  <input class="pressSubmit" type="submit" value="Search">
  <input class="goNuclear" type="submit" value="Show All">
  <div class="results"></div>
</div>

<div id="map"></div>

</body>
</html>
